%div.mt-3.ml-5
  = paginate @searcheds, :remote => true if @searcheds
%div.tickets
  %table.table.table-sm
    = render @searcheds if @searcheds
%div.mt-3.ml-5
  = paginate @searcheds, :remote => true if @searcheds
