%div.card
  %div.card-header.pb-0
    %div.float-right.pb-1
      =form_tag tickets_search_path, method: :get, remote: true, id: 'search_form' do
        %input.form-control.float-right{type: 'text', placeholder: 'Number/Subject ...', id: 'search_input', name: 'search', onkeyup: "$('#search_form').submit()" }
    %ul.nav.nav-tabs.card-header-tabs
      %li.nav-item
        %a.nav-link.active{id: 'unassigned-tab', 'data-toggle': 'tab', href: '#unassigned', role:'tab', 'aria-controls': 'unassigned', 'aria-selected': 'false'}= 'Unassigned'
      %li.nav-item
        %a.nav-link{id: 'open-tab', 'data-toggle': 'tab', href: '#open', role:'tab', 'aria-controls': 'open', 'aria-selected': 'false'}= 'Open'
      %li.nav-item
        %a.nav-link{id: 'onhold-tab', 'data-toggle': 'tab', href: '#onhold', role:'tab', 'aria-controls': 'onhold', 'aria-selected': 'false'}= 'On hold'
      %li.nav-item
        %a.nav-link{id: 'closed-tab', 'data-toggle': 'tab', href: '#closed', role:'tab', 'aria-controls': 'closed', 'aria-selected': 'false'}= 'Closed'
      %li.tab-pane.fade{id: 'search'}
        %btn.nav-link.btn-light.fade{id: 'search_btn'}= 'Search'
  %div.car-body
    %div.tab-content{id: 'myTabContent'}
      %div.tab-pane.fade.show.active{id: 'unassigned', role: 'tabpanel', 'aria-labelledby': 'unassigned-tab'}
        %div.mt-3.ml-5
          = paginate @unassigneds, param_name: "unassigneds_page"
        %div.tickets
          %table.table.table-sm
            = render @unassigneds
        %div.mt-3.ml-5
          = paginate @unassigneds, param_name: "unassigneds_page"
      %div.tab-pane.fade{id: 'open', role: 'tabpanel', 'aria-labelledby': 'open-tab'}
        %div.mt-3.ml-5
          = paginate @opens, param_name: "opens_page"
        %div.tickets
          %table.table.table-sm
            = render @opens
        %div.mt-3.ml-5
          = paginate @opens, param_name: "opens_page"
      %div.tab-pane.fade{id: 'onhold', role: 'tabpanel', 'aria-labelledby': 'onhold-tab'}
        %div.mt-3.ml-5
          = paginate @onholds, param_name: "onholds_page"
        %div.tickets
          %table.table.table-sm
            = render @onholds
        %div.mt-3.ml-5
          = paginate @onholds, param_name: "onholds_page"
      %div.tab-pane.fade{id: 'closed', role: 'tabpanel', 'aria-labelledby': 'closed-tab'}
        %div.mt-3.ml-5
          = paginate @closeds, param_name: "closeds_page"
        %div.tickets
          %table.table.table-sm
            = render @closeds
        %div.mt-3.ml-5
          = paginate @closeds, param_name: "closeds_page"

      %div.tab-pane.fade{id: 'search_div', role: 'tabpanel', 'aria-labelledby': 'search-tab'}
        = render 'searcheds'
