$('#search_div').html("<%= j render(:partial => 'dashboard/searcheds') %>");
$('#search_div').addClass("show active");
$('#search').addClass("show active");
$('#search_btn').addClass("show active");
$('#unassigned').removeClass("show active");
$('#open').removeClass("show active");
$('#onhold').removeClass("show active");
$('#closed').removeClass("show active");
$('#unassigned-tab').removeClass("active");
$('#open-tab').removeClass("active");
$('#onhold-tab').removeClass("active");
$('#closed-tab').removeClass("active");
