- if controller_name != 'sessions'
  = link_to 'Log in', new_session_path(resource_name)
- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  = link_to 'Forgot your password?', new_password_path(resource_name)
- if devise_mapping.omniauthable?
  = resource_class.omniauth_providers.each do |provider| 
    = link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider)
