%h1= 'Log in'

%div.row
  %div.col-md-6.col-md-offset-5
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| 
      %div.form-group
        = f.label :email
        = f.email_field :email, class: 'form-control'

      %div.form-group
        = f.label :password 
        = f.password_field :password, class: 'form-control'

      - if devise_mapping.rememberable?
        %div.form-group
          = f.check_box :remember_me, class: 'form-check-input'
          = f.label :remember_me, class: 'form-check-label'

      %div.actions
        = f.submit 'Log in', class: 'btn btn-success login-button'

    = render 'staffs/shared/links'
