- class_by = comment.author_type == 'Staff' ? 'alert-success float-right' : 'alert-primary float-left'

%div.rounded.w-75.alert.m-1.p-0{class: class_by}
  %table.w-100
    %tr
      %td.font-weight-bold
        - if comment.author_type == 'Staff'
          =comment.author.email
        - else
          =comment.author.name
      %td.float-right.font-italic= comment.updated_at
    %tr
      %td{colspan: 2}=comment.message
