%h1= 'Create new Staff'

%div.row
  %div.col-md-6.col-md-offset-5
    = form_for(@staff, url: staffs_sign_up_path) do |f|
      = render 'shared/error_signups_messages'
      %div.form-group
        = f.label :email
        = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control'
      %div.form-group
        = f.label :password
        - if @minimum_password_length
          %em= "(#{@minimum_password_length.to_s} characters minimum)"
        = f.password_field :password, autocomplete: 'off', class: 'form-control'
      %div.form-group
        = fields_for @department do |field| 
          = field.collection_select :id, Department.order(:id), :id, :name, {}, { class: 'custom-select' }
      %div.actions
        = f.submit 'Create new staff', class: 'btn btn-success'
