%h1= 'Forgot your password?'

%div.row
  %div.col-md-6.col-md-offset-5
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token
      %div.form-group
        = f.label :password, 'New password'
        - if @minimum_password_length
          %em= "(#{@minimum_password_length} characters minimum)"
        = f.password_field :password, autofocus: true, autocomplete: 'off', class: 'form-control'
      %div.form-group
        = f.label :password_confirmation, 'Confirm new password'
        = f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control'
      %div.actions
        = f.submit 'Change my password', class: 'btn btn-success'
    = render 'staffs/shared/links'
