%h1= 'Forgot your password?'

%div.row
  %div.col-md-6.col-md-offset-5
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!
      %div.form-group
        = f.label :email
        = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control'
      %div.actions
        = f.submit 'Send me reset password instructions', class: 'btn btn-success'
    = render 'staffs/shared/links'
