- if @client.errors.any?
  %div.error_explanation
    %div.alert.alert-danger
      = "The form contains #{pluralize(@client.errors.count, 'error')}."
    %ul
      - @client.errors.full_messages.each do |msg|
        %li.alert-item= msg
