- if @staff.errors.any?
  %div.error_explanation
    %div.alert.alert-danger
      = "The form contains #{pluralize(@staff.errors.count, 'error')}."
    %ul
      - @staff.errors.full_messages.each do |msg| 
        %li.alert-item= msg
