%h1= 'Create new Department'

%div.row
  %div.col-md-6.col-md-offset-5
    = form_for(@department, url: departments_new_path) do |f|
      %div.form-group
        = f.label :name
        = f.text_field :name, autofocus: true, class: 'form-control', id: 'department_name'
      %div.actions
        = f.submit 'Create new', class: 'btn btn-success'
