%div.container
  %table.w-100
    %tr
      %td.w-50
        = @client.name
        %br
        = @client.email
      %td.w-25.font-weight-bold.h3
        = @ticket.status.name
    %tr
      %td.pt-4.font-weight-bold{colspan: 3}
        %span.d-flex.justify-content-center.h3
          = @ticket.number
    %tr
      %td.font-weight-bold{colspan: 3}
        %span.d-flex.justify-content-center.h1
          = link_to @ticket.subject, activitylogs_path(id: @ticket.id)
    %tr
      %td{colspan: 3}
        = paginate @comments
        = render @comments
    %tr
      %td.pt-5{colspan: 3}
        - if @ticket.status_id != 1 && @ticket.status_id != 4
          = form_for(@comment, url: question_path(link: @ticket.link)) do |f|
            = f.label :message
            = f.text_area :message, class: 'form-control'

            = f.submit 'Send!', class: 'form-control'
