%h1= 'Create new ticket'

%div.row
  %div.col-md-6.col-md-offset-3
    = form_for(@client, url: root_path) do |f|
      = render 'shared/error_tickets_messages'
      %div.form-group
        = f.label :name
        = f.text_field :name, class: 'form-control', id: 'ticket_name'
      %div.form-group
        = f.label :email
        = f.email_field :email, class: 'form-control', id: 'ticket_email'
      = f.fields_for :tickets do |ff|
        %div.form-group
          = ff.label :subject
          = ff.text_field :subject, class: 'form-control', id: 'ticket_subject'
        = ff.fields_for :comments do |fff|
          %div.form-group
            = fff.label :message
            = fff.text_area :message, class: 'form-control', id: 'ticket_message'
      = f.fields_for @department do |ff|
        %div.form-group
          = ff.collection_select :id, Department.order(:id), :id, :name, {}, { class: 'custom-select' }
      %div.actions
        = f.submit 'Create new ticket', class: 'btn btn-success'
