%div.container
  %table.w-100
    %tr
      %td.w-50
        = @client.name
        %br
        = @client.email
      %td.w-25.h4
        - if @ticket.status.id == 1
          = link_to 'Get ticket!', tickets_assign_path(id: @ticket.id), method: :post
          = form_for(@department, url: tickets_status_change_path) do |f|
            = f.collection_select :id, Department.order(:id), :id, :name, { selected: @ticket.department.id }, { class: 'custom-select', 'data-ticket': @ticket.id, 'data-selected': @department.id, 'data-path': ticket_path(@ticket.id) }
        - else
          = form_for(@status, url: tickets_status_change_path) do |f|
            = f.collection_select :id, Status.order(:id), :id, :name, { selected: @ticket.status.id }, { class: 'custom-select', 'data-selected': @ticket.id, 'data-path': ticket_path(@ticket.id) }
    %tr
      %td.pt-4.font-weight-bold{colspan: 3}
        %span.d-flex.justify-content-center.h3
          = @ticket.number
    %tr
      %td.font-weight-bold{colspan: 3}
        %span.d-flex.justify-content-center.h1
          = link_to @ticket.subject, activitylogs_path(id: @ticket.id)
    %tr
      %td{colspan: 3}
        = paginate @comments
        = render @comments
    %tr
      %td.pt-5{colspan: 3}
        - if @ticket.status_id != 1 && @ticket.status_id != 4
          = form_for(@comment, url: reply_path(id: @ticket.id)) do |f|
            = f.label :message
            = f.text_area :message, class: 'form-control'

            = f.submit 'Send!', class: 'form-control'
