/* Tickets index */

.tickets {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #666;
  }
}

.ticket-updated {
  text-align: right;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.unassigned {
  @extend .dot;
  background-color: black;
}

.open {
  @extend .dot;
  background-color: red;
}

.onhold {
  @extend .dot;
  background-color: yellow;
}

.closed {
  @extend .dot;
  background-color: green;
}
