%header.pb-4
  %nav.navbar.navbar-dark.bg-dark
    - if staff_signed_in?
      = link_to 'TICKETS', dashboard_path, id: 'logo'
    - else
      = link_to 'TICKETS', root_path, id: 'logo'
    %ul.nav
      - if staff_signed_in?
        %label.username.mr-5.pr-5
          = "#{current_staff.email}(#{current_staff.department.name})"
        - if current_staff.admin?
          %li.nav-item
            = link_to 'Create staff', staffs_sign_up_path , class: 'btn btn-dark', id: 'create_new_staff'
          %li.nav-item
            = link_to 'Create department', departments_new_path , class: 'btn btn-dark', id: 'create_new_department'
        %li.nav-item
          = link_to 'Log out', destroy_staff_session_path, method: :delete , class: 'btn btn-dark'
      - else 
        %li.nav-item
          = link_to 'Log in', new_staff_session_path, class: 'btn btn-dark'
