!!!
%html
  %head
    %title= 'TicketSystem'
    = render 'layouts/rails_default'

  %body
    = render 'layouts/header'

    %div.container
      - if notice
        %p.alert.alert-success
          = notice
      - if alert
        %p.alert.alert-danger
          = alert
      = yield
